nav.nav
  .nav-left
    a.nav-item= h.headline
  .nav-center
    a.nav-item(href="https://github.com/liorchamla" target="_blank")
      span.icon
        i.fa.fa-github
    a.nav-item(href="https://twitter.com/LiiorC" target="_blank")
      span.icon
        i.fa.fa-twitter
  // This "nav-toggle" hamburger menu is only visible on mobile
  // You need JavaScript to toggle the "is-active" class on "nav-menu"
  span.nav-toggle
    span
    span
    span
  // This "nav-menu" is hidden on mobile
  // Add the modifier "is-active" to display it on mobile
  .nav-right.nav-menu
    a.nav-item(href="/")
      | Home
    a.nav-item
      | Documentation
    a.nav-item
      | Blog
    .nav-item
      .field.is-grouped
        p.control
          a.button
            span.icon
              i.fa.fa-github
            span Voir
        p.control
          a.button.is-primary
            span.icon
              i.fa.fa-download
            span Télécharger